.idea
.DS_Store

# Project
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

# On projects I commit also lock file to ensure same versions
/composer.lock

# Builded assets
web/css/*
!web/css/.gitkeep
web/js/*
!web/js/.gitkeep
web/fonts/*
!web/fonts/.gitkeep
web/img/*
!web/img/.gitkeep

# node and bower
node_modules
bower_components