{% extends 'AppBundle:Admin:layout.html.twig' %}

{% set page_title = 'admin.users.title'|trans %}

{% block main_heading %}
    <div class="page-heading">
        <h1>{{ 'admin.users.title'|trans }}</h1>
        <div class="page-heading-actions">
            <a class="btn btn-add btn-lg" href="{{ url('admin_user_new') }}" title="{{ 'admin.users.actions.create'|trans }}">
                <i class="icon icon-plus-circle"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}

    {{ include('AppBundle:Admin/User:includes/grid.html.twig') }}

{% endblock %}
