{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4 col-md-offset-4 well">

        {% block fos_user_content %}
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
        {% endblock fos_user_content %}

    </div>
</div>