{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="interface-login">
        <div class="page-container">
            <div class="row">
                <div class="panel">
                    <div class="panel-header">
                        <img src="/img/logo-admin.png" width="340" alt="" class="img-responsive">
                    </div>

                    <div class="alert alert-warning">
                    {{ 'resetting.password_already_requested'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
