{% extends 'Admin/layout.html.twig' %}

{% block title %}{{ parent() }} - Uživatelé {% endblock %}

{% block content %}

    <div class="row">
        <h2 class="pull-left">Uživatelé</h2>
        <a href="{{ url('users_new') }}" class="btn btn-primary pull-right" title="Přidat uživatele">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    {{ include('Admin/User/includes/grid.html.twig') }}

{% endblock %}
